### pandas 패키지 import
* 관용적으로 별칭 **`pd`** 를 사용하여 import

In [1]:
import pandas as pd

### Series 객체 생성     
* **`pd.Series()`**
>* 주요 파라미터
>  * data
>    * 시리즈에 저장할 데이터. 
>    * 리스트, 튜플, 넘파이배열, 딕셔너리, 스칼라(단일 값) 모두 가능
>  * index
>    * 데이터에 연결할 인덱스(라벨)
>    * 생략하면 기본적으로 RangeIndex(0, 1, 2, ...)로 설정됨
>  * dtype
>    * 데이터 타입 지정 (예:'int', 'float', 'str', 'category' 등)
>    * 생략하면 data에서 자동 추론
>  * name 
>    * 시리즈의 이름
>    * 데이터프레임으로 변환할 때 컬럼명이 됨

In [2]:
# ---------------
# 빈 시리즈
# ---------------

s1 = pd.Series(dtype = 'float64')
print(s1)

Series([], dtype: float64)

In [3]:
# ---------------
# 스칼라로 생성
# ---------------

s2 = pd.Series(5, index=['a','b','c'])
print(s2)

a    5
b    5
c    5
dtype: int64

In [4]:
# ---------------
# 리스트로 생성
# ---------------

data = [100,50,30,10]
s3 = pd.Series(data)
s3

0    100
1     50
2     30
3     10
dtype: int64

In [5]:
# ---------------
# 넘파이 배열로 생성
# 인덱스라벨 지정
# 시리즈 이름 지정
# 시리즈 데이터 타입 지정 
# ---------------

data = pd.array([100,50,30,10])
idx = ['A', 'B', 'O', 'AB']

s = pd.Series(data, index=idx, name='혈액형별 수량', dtype='int64')
print(s)

A     100
B      50
O      30
AB     10
Name: 혈액형별 수량, dtype: int64

In [6]:
# ---------------
# 딕셔너리로 생성
# ---------------

data = {'A':100, 
        'B':50, 
        'O':30, 
        'AB':10}

s = pd.Series(data, name='혈액형별 수량')
print(s)

A     100
B      50
O      30
AB     10
Name: 혈액형별 수량, dtype: int64

### Series 객체의 주요 속성
* `values` : 시리즈의 값(넘파이 배열)
* `index` : 인덱스라벨 객체
* `dtype` : 데이터의 타입
* `name` : 시리즈의 이름
* `shape` : 배열 형태

In [8]:
# ---------------
# 시리즈의 값
# ---------------

s = pd.Series([100, 50, 30, 10], index=['A', 'B', 'O', 'AB'], name='혈액형별 수량')
print(s.values)

[100  50  30  10]

In [9]:
# --------------------
# 시리즈의 인덱스라벨
# --------------------

print(s.index)

Index(['A', 'B', 'O', 'AB'], dtype='object')

In [10]:
# --------------------
# 시리즈의 데이터타입
# --------------------

print(s.dtype)

int64

In [11]:
# --------------------
# 시리즈의 이름
# --------------------

print(s.name)

혈액형별 수량

In [12]:
# ---------------
# 시리즈의 형태(shape)
# ---------------

print(s.shape)

(4,)

### Series 객체의 주요 메서드
* `info()` 
    * Series 객체의 정보  
* `value_counts()`
    * 빈도수
* `sort_values()`
    * 값으로 정렬
* `sort_index()` 
    * 인덱스로 정렬
* `isnull()`
    * null 여부
    * null이면 True
* `notnull()`
    * null 여부
    * null이 아니면 True
* `dropna()`
    * null값 삭제
* `fillna()`
    * null 채우기
* `astype()`  
    * 자료형 변경
* 집계함수
    * `mean()`, `sum()`, `min()`, `max()`, `std()` 등

In [13]:
# -------------
# info()
# -------------

s.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, A to AB
Series name: 혈액형별 수량
Non-Null Count  Dtype
--------------  -----
4 non-null      int64
dtypes: int64(1)
memory usage: 64.0+ bytes

In [14]:
# ---------------------------------
# 합계
# ---------------------------------

s.sum()

np.int64(190)

In [15]:
# ---------------------------------
# 값으로 정렬(오름차순)
# ---------------------------------

s.sort_values()

AB     10
O      30
B      50
A     100
Name: 혈액형별 수량, dtype: int64

In [16]:
# ---------------------------------
# 값으로 정렬(내림차순)
# ---------------------------------

s.sort_values(ascending=False)

A     100
B      50
O      30
AB     10
Name: 혈액형별 수량, dtype: int64

In [17]:
# ---------------------------------
# 인덱스라벨로 정렬(오름차순)
# ---------------------------------

s.sort_index()

A     100
AB     10
B      50
O      30
Name: 혈액형별 수량, dtype: int64

In [18]:
# ---------------------------------
# 인덱스라벨로 정렬(내림차순)
# ---------------------------------

s.sort_index(ascending=False)

O      30
B      50
AB     10
A     100
Name: 혈액형별 수량, dtype: int64

In [19]:
# ---------------------------------
# null 여부(null이면 True)
# ---------------------------------

s.isnull()

A     False
B     False
O     False
AB    False
Name: 혈액형별 수량, dtype: bool

In [20]:
# ---------------------------------
# null 여부(null이 아니면 True)
# ---------------------------------

s.notnull()

A     True
B     True
O     True
AB    True
Name: 혈액형별 수량, dtype: bool

In [21]:
# ---------------------------------
# 데이터타입 변경
# 문자열로 변경
# ---------------------------------

s.astype('str')

A     100
B      50
O      30
AB     10
Name: 혈액형별 수량, dtype: object

### Series 데이터 접근

* 라벨 인덱스로 접근
  * **`시리즈객체.loc[인덱스라벨]`**
  * **`시리즈객체.loc[인덱스라벨 리스트]`** 
  * **`시리즈객체.loc[인덱스라벨 슬라이스]`** --> 끝인덱스의 데이터 포함
* 정수형 인덱스로 접근
  * **`시리즈객체.iloc[RangeIndex]`**
  * **`시리즈객체.iloc[RangeIndex리스트]`** 
  * **`시리즈객체.iloc[RangeIndex슬라이스]`**

In [22]:
# ---------------------
# A형은 몇명인가요?
# 인덱스라벨 사용
#
# 결과
# np.int64(100)
# ---------------------

s.loc['A']

np.int64(100)

In [23]:
# ---------------------
# A형은 몇명인가요?
# RangeIndex 사용
#
# 결과
# np.int64(100)
# ---------------------

s.iloc[0]

np.int64(100)

In [24]:
# ---------------------
# A형, O형은 각각 몇명인가요?
# 인덱스라벨리스트 사용
# ---------------------

s.loc[['A', 'O']]

A    100
O     30
Name: 혈액형별 수량, dtype: int64

In [25]:
# ---------------------
# A형, O형은 각각 몇명인가요?
# RangeIndex리스트 사용
# ---------------------

s.iloc[[0, 2]]

A    100
O     30
Name: 혈액형별 수량, dtype: int64

In [26]:
# ---------------------
# A형부터 O형까지 각각 몇명인가요?
# 인덱스라벨슬라이스 사용
# ---------------------

s.loc['A':'O']

A    100
B     50
O     30
Name: 혈액형별 수량, dtype: int64

In [27]:
# ---------------------
# A형부터 O형까지 각각 몇명인가요?
# RangeIndex슬라이스 사용
# ---------------------

s.iloc[0:3]

A    100
B     50
O     30
Name: 혈액형별 수량, dtype: int64

### Series 데이터 추가, 수정, 삭제
* 데이터 추가/수정
  * `시리즈객체[인덱스] = 데이터`
* 데이터 삭제
  * `del 시리즈객체[인덱스]`

In [28]:
# ---------------------
# 데이터 추가
# 'A-'  3
# ---------------------


s['A-'] = 3

In [29]:
# ---------------------
# 데이터 수정
# 'A-'  5
# ---------------------

s['A-'] = 5

In [30]:
# ---------------------
# 데이터 삭제
# 'A-'  
# ---------------------

del s['A-']

In [31]:
print(s)

A     100
B      50
O      30
AB     10
Name: 혈액형별 수량, dtype: int64