In [3]:
import pandas as pd

In [4]:
# ----------------------
# 샘플데이터
# ----------------------

d = {'이름':['스티븐 호킹','마이클잭슨','스티브잡스','로빈윌리엄스','앨빈토플러'],
 '주요경력':['이론 물리학자','가수','CEO','배우','미래학자'],
 '출생':['1942-01-08','1958-08-29','1955-02-24','1951-07-21','1928-10-04'],
 '사망':['2018-03-14','2009-06-25','2011-10-05','2014-08-11','2016-06-27'],
 }
 
df = pd.DataFrame(d)
df

       이름     주요경력          출생          사망
0  스티븐 호킹  이론 물리학자  1942-01-08  2018-03-14
1   마이클잭슨       가수  1958-08-29  2009-06-25
2   스티브잡스      CEO  1955-02-24  2011-10-05
3  로빈윌리엄스       배우  1951-07-21  2014-08-11
4   앨빈토플러     미래학자  1928-10-04  2016-06-27

In [ ]:
# ----------------------
# dtypes 확인
# ----------------------

이름      object
주요경력    object
출생      object
사망      object
dtype: object

### 시계열 자료형으로 변환
* `pd.to_datetime(컬럼)`

In [ ]:
# ----------------------
# 출생, 사망 컬럼
#   ===> datetime 형으로 변환
# ----------------------

       이름     주요경력         출생         사망
0  스티븐 호킹  이론 물리학자 1942-01-08 2018-03-14
1   마이클잭슨       가수 1958-08-29 2009-06-25
2   스티브잡스      CEO 1955-02-24 2011-10-05
3  로빈윌리엄스       배우 1951-07-21 2014-08-11
4   앨빈토플러     미래학자 1928-10-04 2016-06-27

In [ ]:
# ----------------------
# dtypes 확인
# ----------------------

이름              object
주요경력            object
출생      datetime64[ns]
사망      datetime64[ns]
dtype: object

## 시계열 정보 추출
* `컬럼.dt.year`
* `컬럼.dt.month`
* `컬럼.dt.day`
* `컬럼.dt.quarter`
* `컬럼.dt.dayofweek`
* `컬럼.dt.day_name()`

       이름     주요경력         출생         사망  출생연도  사망연도  생존기간
0  스티븐 호킹  이론 물리학자 1942-01-08 2018-03-14  1942  2018    76
1   마이클잭슨       가수 1958-08-29 2009-06-25  1958  2009    51
2   스티브잡스      CEO 1955-02-24 2011-10-05  1955  2011    56
3  로빈윌리엄스       배우 1951-07-21 2014-08-11  1951  2014    63
4   앨빈토플러     미래학자 1928-10-04 2016-06-27  1928  2016    88